<!doctype html>

<title>Now Playing</title>

<h3>Title: {{ data.get('name') }}</h3>
<h3>Artist: {{ data.get('artist').get('name') }} {{ '(on tour!)' if data.get('artist').get('ontour') else '' }}</h3>
<p/>

<img width="400" src="{{ data.get('album').get('picurl') }}" alt="{{ data.get('album').get('name') }}">

<p><a href="{{ data.get('yturl') }}">Watch on YouTube</a></p>

<h3>About:</h3>
<p>{{ data.get('description').split('<a href')[0] }}</p>

{% if data.get('artist').get('url') != '' %}
<p><a href="{{ data.get('artist').get('url') }}">Artist profile on Last.FM</a></p>
{% else %}
{% endif %}

{% if data.get('album').get('url') != '' %}
<p><a href="{{ data.get('album').get('url') }}">Album profile on Last.FM</a></p>
{% else %}
{% endif %}
